extends ./layout.pug

block content
  .jumbotron.text-center
    h1 Acme Financial Login &nbsp
      span.fa.fa-lock
    p Login or Signup!
    a.btn.btn-default(href='/login') Login
    a.btn.btn-default(href='/signup') Signup

  .row
    .col-sm-12
      ul
        //- each user in users
        //-     li= user._id

