html
  head
    title My Site - #{title}
    block css
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
      link(rel='stylesheet', href='/styles/main.css')
    block scripts
      script(src='https://code.jquery.com/jquery-2.2.3.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
  body
    .container-fluid
      block nav
    .container
      block content
      block footer
        #footer